@import "tailwindcss";


:root {
  --accent: #d4af37;
  --fg: #0b0b0b;
  --bg: #ffffff;
  --bg-alt: #f8f8f8;
  --border: #dddddd;
}

.dark {
  --accent: #d4af37;
  --fg: #ffffff;
  --bg: #0b0b0b;
  --bg-alt: #111111;
  --border: #1a1a1a;
}
